VITE_CLERK_PUBLISHABLE_KEY=YOUR_CLERK_PUBLISHABLE_KEY
VITE_SUPABASE_URL=https://vaoqvtxqvbptyxddpoju.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
VITE_CLOUDFLARE_WEB_ANALYTICS_TOKEN=
VITE_PERFORMANCE_BEACON_URL=
